/* static/styles.css */
body {
    background-color: #f8f9fa;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #343a40;
}

.nav-tabs .nav-link.active {
    background-color: #187710;
    color: #fff;
}

.nav-tabs .nav-link {
    color: #343a40;
}

.form-group label {
    font-weight: bold;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: #187710;
    border-color: #187710;
}

.btn-primary:hover {
    background-color: #135c0c;
    border-color: #135c0c;
}
